#center_content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13pt;
    font-style: normal;
}

.viz {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.citation p{
    font-size: 10pt;
    font-style: italic;
}
